@charset "UTF-8";
/* CSS Document */

body {
	font-family: 'Tangerine', sans-serif;
	font-style:normal;
	font-weight:normal;
    text-shadow: 4px 4px 4px #aaa;
    color: rgb(34, 29, 29);
    background-color: #d4b9b9;
    background-image: url('../images/letters.jpg');
    background-repeat: repeat;
    background-size: contain;
    background-blend-mode: overlay;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
}

.hidden {
    display: none;
}

#container {
    margin: 20px auto;
    width: 500px;
    border: solid 1px #333;
    background: #efefef;
    background-image: url('../images/pexels-fabricio-trujillo-54567.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    border-radius: 10px;
    font-family: 'Tangerine', sans-serif;
	font-style:normal;
	font-weight:normal;
    
}

#container2 {
    margin: 20px auto;
    width: 500px;
    border: solid 1px #333;
    background: #efefef;
    background-image: url('../images/pexels-gonzalo-acun╠âa-10923070.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    border-radius: 10px;
    font-family: 'Tangerine', sans-serif;
	font-style:normal;
	font-weight:normal;
    
}

#container3 {
    margin: 20px auto;
    width: 500px;
    border: solid 1px #333;
    background: #efefef;
    background-image: url('../images/pexels-juan-salamanca-61135.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    border-radius: 10px;
    font-family: 'Tangerine', sans-serif;
	font-style:normal;
	font-weight:normal;
    
}

#container4 {
    margin: 20px auto;
    width: 500px;
    border: solid 1px #333;
    background: #efefef;
    background-image: url('../images/martin-sanchez-igSCxtyORzY-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    border-radius: 10px;
    font-family: 'Tangerine', sans-serif;
	font-style:normal;
	font-weight:normal;
    
}

#container5 {
    margin: 20px auto;
    width: 500px;
    border: solid 1px #333;
    background: #efefef;
    background-image: url('../images/pexels-timur-weber-8679349.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    border-radius: 10px;
    font-family: 'Tangerine', sans-serif;
	font-style:normal;
	font-weight:normal;
    
}
#container6 {
    margin: 20px auto;
    width: 500px;
    border: solid 1px #333;
    background: #efefef;
    background-image: url('../images/pexels-anna-shvets-5069203.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    border-radius: 10px;
    font-family: 'Tangerine', sans-serif;
	font-style:normal;
	font-weight:normal;
    
}

#container7 {
    margin: 20px auto;
    width: 500px;
    border: solid 1px #333;
    background: #efefef;
    background-image: url('../images/pexels-juan-salamanca-61135.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    border-radius: 10px;
    font-family: 'Tangerine', sans-serif;
	font-style:normal;
	font-weight:normal;
    
}
#container8 {
    margin: 20px auto;
    width: 500px;
    border: solid 1px #333;
    background: #efefef;
    background-image: url('../images/martin-sanchez-igSCxtyORzY-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    border-radius: 10px;
    font-family: 'Tangerine', sans-serif;
	font-style:normal;
	font-weight:normal;
    
}

#intro {
    text-align: center;
    font-family: 'Tangerine', sans-serif;
	font-style:normal;
	font-weight:normal;
}



#mainContent {
        display: grid;

        padding-left: 20px;
        padding-right: 20px;
}


 

 

article {
    grid-column: 1/-1;
    font-family: 'Roboto', sans-serif;
    font-style: 30px;
	font-style:normal;
	font-weight:normal;
    font-size: medium;
    border: solid 1px #333;
    border-radius: 10px;
    border-width: auto;
    margin: 20px auto;
    width: 428px;
}

img {
    margin-top: 20px;
    margin-bottom: 30px;
}

footer {
    text-align: center;
}

